.crypto-container {
  height: 100%;
}
.search-box {
  width: 70%;
  margin: 20px auto;
}

.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.coin-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

/* -------- coin-card-styles-------- */
.root {
  min-width: 150px;
  max-width: 370px;
}

.card-top {
  display: flex;
  justify-content: space-between;
}
.icon {
  height: 30px;
  width: 30px;
}
.info {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (min-width: 450px) {
  .coin-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 912px) {
  .coin-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1048px) {
  .coin-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
