
  .loader-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .loader-ring-light {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 0 6px 0 #FF630B inset;
    animation: rotate-360 0.5s linear infinite;
  }
  
  .loader-ring-track {
    border-radius: 150px;
    box-shadow: 0 0 1px 1px gray inset;
  }
  
  @keyframes rotate-360 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  