.app {
  padding: 20px;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main {
  width: 100%;
  height: 95vh;
  background-color: #f4f3ee;
  border-radius: 10.5px;
  padding: 10px 40px;
  overflow-y: scroll;
}

@media (min-width: 756px) {
  .top-container {
    flex-direction: row;
  }
  .navbar {
    min-width: 200px;
  }
}
